In [1]:
import pandas as pd
from sqlalchemy import create_engine
import psycopg2
import os 
from dotenv import load_dotenv
load_dotenv()

True

### Загрузка данных

In [2]:
df = pd.read_csv('../data/social_media_vs_productivity.csv')

In [3]:
df.head()

,age,gender,job_type,daily_social_media_time,social_platform_preference,number_of_notifications,work_hours_per_day,perceived_productivity_score,actual_productivity_score,stress_level,sleep_hours,screen_time_before_sleep,breaks_during_work,uses_focus_apps,has_digital_wellbeing_enabled,coffee_consumption_per_day,days_feeling_burnout_per_month,weekly_offline_hours,job_satisfaction_score
0,56,Male,Unemployed,4.180940,Facebook,61,6.753558,8.040464,7.291555,4.0,5.116546,0.419102,8,False,False,4,11,21.927072,6.336688
1,46,Male,Health,3.249603,Twitter,59,9.169296,5.063368,5.165093,7.0,5.103897,0.671519,7,True,True,2,25,0.000000,3.412427
2,32,Male,Finance,NaN,Twitter,57,7.910952,3.861762,3.474053,4.0,8.583222,0.624378,0,True,False,3,17,10.322044,2.474944
3,60,Female,Unemployed,NaN,Facebook,59,6.355027,2.916331,1.774869,6.0,6.052984,1.204540,1,False,False,0,4,23.876616,1.733670
4,25,Male,IT,NaN,Telegram,66,6.214096,8.868753,NaN,7.0,5.405706,1.876254,1,False,True,1,30,10.653519,9.693060

In [4]:
users = df[['age', 'gender', 'job_type']]
digital_habits = df[['daily_social_media_time', 'social_platform_preference', 'number_of_notifications', 'screen_time_before_sleep', 'uses_focus_apps', 'has_digital_wellbeing_enabled', 'weekly_offline_hours']]
productivity_metrics=df[['perceived_productivity_score', 'actual_productivity_score', 'stress_level', 'job_satisfaction_score', 'days_feeling_burnout_per_month']]
daily_routine = df[['work_hours_per_day', 'sleep_hours', 'breaks_during_work', 'coffee_consumption_per_day']]

### Создание подключения и загрузка данных в БД PostgreSQL

In [5]:
engine = create_engine(f"postgresql+psycopg2://{os.getenv('DB_USERNAME')}:{os.getenv('DB_PASSWORD')}@localhost:5432/mental health")

In [6]:
connection = psycopg2.connect(database ='mental health', user=os.getenv('DB_USERNAME'),password = os.getenv('DB_PASSWORD'), host ='127.0.0.1', port= 5432 )
cursor= connection.cursor()

In [ ]:
users.to_sql('users', con=engine, if_exists='replace')
digital_habits.to_sql('digital_habits', con=engine)
productivity_metrics.to_sql('productivity_metrics', con=engine)
daily_routine.to_sql('daily_routine', con=engine)

In [7]:
#проверка выполнения запроса
sql_query = ''' 
SELECT * FROM users
LIMIT 20
'''
cursor.execute(sql_query)
result = cursor.fetchall()

In [8]:
result

[(0, 56, 'Male', 'Unemployed'),
 (1, 46, 'Male', 'Health'),
 (2, 32, 'Male', 'Finance'),
 (3, 60, 'Female', 'Unemployed'),
 (4, 25, 'Male', 'IT'),
 (5, 38, 'Male', 'Finance'),
 (6, 56, 'Female', 'Unemployed'),
 (7, 36, 'Female', 'Education'),
 (8, 40, 'Female', 'Education'),
 (9, 28, 'Other', 'IT'),
 (10, 28, 'Male', 'IT'),
 (11, 41, 'Female', 'Finance'),
 (12, 53, 'Male', 'Student'),
 (13, 57, 'Male', 'Education'),
 (14, 41, 'Male', 'Education'),
 (15, 20, 'Male', 'Student'),
 (16, 39, 'Male', 'Finance'),
 (17, 19, 'Male', 'Health'),
 (18, 41, 'Female', 'Health'),
 (19, 61, 'Female', 'Education')]

In [ ]:
#изменение столбца index на user_id для всех таблиц
tables= ['users', 'digital_habits', 'productivity_metrics', 'daily_routine']
for i in tables:
    sql_query = f"ALTER TABLE {i} RENAME COLUMN index TO user_id"
    cursor.execute(sql_query)
    connection.commit()

### Проверка общих метрик

In [9]:
#Количество строк в таблице (проверка объёма)
sql_query = '''
SELECT COUNT(*)
FROM users
'''
cursor.execute(sql_query)
result = cursor.fetchone()[0]

In [10]:
result

30000

In [11]:
#Количество пропусков в таблице users
sql_query = '''
SELECT
SUM(CASE WHEN age IS NULL THEN 1 ELSE 0 END) AS missing_age,
SUM(CASE WHEN gender IS NULL THEN 1 ELSE 0 END) AS missing_gender,
SUM(CASE WHEN job_type IS NULL THEN 1 ELSE 0 END) AS missing_jod_info
FROM users
'''
cursor.execute(sql_query)
result = cursor.fetchall()

In [12]:
result # в таблице users пропусков нет

[(0, 0, 0)]

In [13]:
#Количество пропусков в таблице digital_habits
sql_query = '''
SELECT
SUM(CASE WHEN daily_social_media_time IS NULL THEN 1 ELSE 0 END) AS missing_sm_time,
SUM(CASE WHEN social_platform_preference IS NULL THEN 1 ELSE 0 END) AS missing_sm_platform,
SUM(CASE WHEN number_of_notifications IS NULL THEN 1 ELSE 0 END) AS missing_notif_num,
SUM(CASE WHEN screen_time_before_sleep IS NULL THEN 1 ELSE 0 END) AS missing_screen_time,
SUM(CASE WHEN uses_focus_apps IS NULL THEN 1 ELSE 0 END) AS missing_focus_apps,
SUM(CASE WHEN has_digital_wellbeing_enabled IS NULL THEN 1 ELSE 0 END) AS missing_dig_wellbeing,
SUM(CASE WHEN weekly_offline_hours IS NULL THEN 1 ELSE 0 END) AS missing_off_hours
FROM digital_habits
'''
cursor.execute(sql_query)
result = cursor.fetchall()

In [14]:
result # пропуски имеются в столбцах daily_social_media_time и screen_time_before_sleep

[(2765, 0, 0, 2211, 0, 0, 0)]

In [15]:
#Количество пропусков в таблице productivity_metrics
sql_query = '''
SELECT
SUM(CASE WHEN perceived_productivity_score IS NULL THEN 1 ELSE 0 END) AS missing_perc_prod_score,
SUM(CASE WHEN actual_productivity_score IS NULL THEN 1 ELSE 0 END) AS missing_act_prod_score,
SUM(CASE WHEN stress_level IS NULL THEN 1 ELSE 0 END) AS missing_sl,
SUM(CASE WHEN job_satisfaction_score IS NULL THEN 1 ELSE 0 END) AS missing_jss,
SUM(CASE WHEN days_feeling_burnout_per_month IS NULL THEN 1 ELSE 0 END) AS missing_burnout
FROM productivity_metrics
'''
cursor.execute(sql_query)
result = cursor.fetchall()

In [16]:
result # пропуски имеются во всех столбцах, кроме days_feeling_burnout_per_month

[(1614, 2365, 1904, 2730, 0)]

In [17]:
#Количество пропусков в таблице daily_routine
sql_query = '''
SELECT
SUM(CASE WHEN work_hours_per_day IS NULL THEN 1 ELSE 0 END) AS missing_work_hours,
SUM(CASE WHEN sleep_hours IS NULL THEN 1 ELSE 0 END) AS missing_sleep_hours,
SUM(CASE WHEN breaks_during_work IS NULL THEN 1 ELSE 0 END) AS missing_work_breaks,
SUM(CASE WHEN coffee_consumption_per_day IS NULL THEN 1 ELSE 0 END) AS missing_cofee_consump
FROM daily_routine
'''
cursor.execute(sql_query)
result = cursor.fetchall()

In [18]:
result # пропуски имеются в столбце sleep_hours

[(0, 2598, 0, 0)]

### Уникальные значения по категориальным переменным

In [19]:
sql_query = '''
SELECT DISTINCT gender
FROM users
'''
cursor.execute(sql_query)
result = cursor.fetchall()

In [20]:
result

[('Other',), ('Male',), ('Female',)]

In [21]:
sql_query = '''
SELECT DISTINCT job_type
FROM users
'''
cursor.execute(sql_query)
result = cursor.fetchall()

In [22]:
result

[('Finance',),
 ('Student',),
 ('IT',),
 ('Unemployed',),
 ('Education',),
 ('Health',)]

In [23]:
sql_query = '''
SELECT DISTINCT social_platform_preference
FROM digital_habits
'''
cursor.execute(sql_query)
result = cursor.fetchall()

In [24]:
result

[('Telegram',), ('Instagram',), ('Twitter',), ('Facebook',), ('TikTok',)]

#### Распределение уровня стресса по гендеру и типу занятости

In [25]:
sql_query = '''
SELECT u.gender, u.job_type, ROUND(AVG(pm.stress_level)::NUMERIC, 2) AS average_stress_level
FROM users u
LEFT JOIN productivity_metrics pm 
ON u.user_id = pm.user_id
GROUP BY u.gender, u.job_type
ORDER BY u.gender, u.job_type
'''
cursor.execute(sql_query)
result = cursor.fetchall()

In [26]:
result

[('Female', 'Education', Decimal('5.51')),
 ('Female', 'Finance', Decimal('5.55')),
 ('Female', 'Health', Decimal('5.55')),
 ('Female', 'IT', Decimal('5.54')),
 ('Female', 'Student', Decimal('5.44')),
 ('Female', 'Unemployed', Decimal('5.47')),
 ('Male', 'Education', Decimal('5.53')),
 ('Male', 'Finance', Decimal('5.63')),
 ('Male', 'Health', Decimal('5.45')),
 ('Male', 'IT', Decimal('5.51')),
 ('Male', 'Student', Decimal('5.53')),
 ('Male', 'Unemployed', Decimal('5.47')),
 ('Other', 'Education', Decimal('5.36')),
 ('Other', 'Finance', Decimal('5.54')),
 ('Other', 'Health', Decimal('5.59')),
 ('Other', 'IT', Decimal('5.83')),
 ('Other', 'Student', Decimal('5.19')),
 ('Other', 'Unemployed', Decimal('5.37'))]

### Создание витрины с данными  по пользовательской активности и продуктивности

In [32]:
sql_query = '''
CREATE VIEW user_productivity_summary AS
SELECT
u.user_id,
u.age,
u.gender,
u.job_type,
dh.daily_social_media_time AS daily_social_media_time,
dh.number_of_notifications,
dr.work_hours_per_day,
dr.sleep_hours,
pm.actual_productivity_score,
pm.perceived_productivity_score,
pm.stress_level,
dr.breaks_during_work,
dh.uses_focus_apps,
dh.has_digital_wellbeing_enabled
FROM users u
JOIN digital_habits dh ON u.user_id = dh.user_id
JOIN daily_routine dr ON u.user_id = dr.user_id
JOIN productivity_metrics pm ON u.user_id = pm.user_id
'''
cursor.execute(sql_query)
connection.commit()

In [37]:
sql_query = '''
SELECT * FROM user_productivity_summary
LIMIT 5
'''
cursor.execute(sql_query)
result = cursor.fetchall()

In [38]:
result

[(0,
  56,
  'Male',
  'Unemployed',
  4.180939775840407,
  61,
  6.75355840556201,
  5.116545502198779,
  7.291555269465855,
  8.04046395460586,
  4.0,
  8,
  False,
  False),
 (1,
  46,
  'Male',
  'Health',
  3.24960295371668,
  59,
  9.16929611963351,
  5.103896756553941,
  5.165092998005627,
  5.063368162322373,
  7.0,
  7,
  True,
  True),
 (2,
  32,
  'Male',
  'Finance',
  None,
  57,
  7.910952034409042,
  8.583221815294962,
  3.474053165692065,
  3.861762461136279,
  4.0,
  0,
  True,
  False),
 (3,
  60,
  'Female',
  'Unemployed',
  None,
  59,
  6.355027219236192,
  6.05298417988897,
  1.7748691740272262,
  2.9163309492583167,
  6.0,
  1,
  False,
  False),
 (4,
  25,
  'Male',
  'IT',
  None,
  66,
  6.214096290148244,
  5.405706477416319,
  None,
  8.868752637090383,
  7.0,
  1,
  False,
  True)]